<style>
	  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: cambria;
    background-color: #9BBDF9;
}

.time-container {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 1, 0.5);
}

#clock {
    font-size: 26px;
	background:#FED766;
	padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 1, 0.4);
	border: none;
}
	</style>