body{
	font-family:calibri;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0;	
	background-color:#85ADF5;
	
}

.container{
	text-align:center;
	padding:30px;
	
}

form{
	margin-bottom:10px;	
}

input{
	padding:10px;
	border-radius:8px 5px;	
	font-weight:bold;
}
input:hover{
	background-color:#BBCBF7;
}
button{
	padding:10px;
	border:none;
	background-color:#00c8ff;
	cursor:pointer;
	box-shadow:0px 0px 3px;
	border-radius:10px 12px ;	
}
#winfo{
    color:red;
	font-weight:bold;
}